name: JMeter CI

on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run JMeter Docker
        run: docker build -f docker/Dockerfile.spike -t jmeter-spike . && docker run jmeter-spike
